@import '../../css/_variable';
@import '../../css/_mixin';
@import '../../css/_extend';

.mainHeader {
    width: 200px;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 2;


    @include pad-sm {
        width:100%;
        height: 45px;       
        color: $color-mainGreen;
        &::after {
            position: relative;
            display: block;
            box-shadow: $shadow-bar;
            content: '';
            width: 100%;
            background-color: $color-mainGreen;
            height: 45px;
            z-index: 1;
        }
        
    }

    .hamburger {
        display: none;
        position: absolute;
        

        @include pad-sm {
            display:block;
            z-index: 2;
        }
    }

    #menuSwitch {
        position: absolute;
        opacity: 0;
        z-index: 2;

        @include pad-sm {
            &:checked + .mainNav {
                transform: translateX(0%);
            }
            
        }
    }
    

    .mainNav {
        display: flex;
        flex-direction: column;
        width: 100%;
        right: 0;
        
        transition: 0.3s;
        margin: auto 0;
        

        @include pad-sm { 
            top: 45px;         
            transform: translateX(calc(100% + 10px));
            background-color:$color-white;
            box-shadow: $shadow-bar;
            width: 220px;
            padding: 0px 15px;
            z-index: -1;
            position: absolute;
        }

        a {
            @extend %navWord;
            @include pad-md{
                padding-right: 45px;
            }
            

            &:hover {
                text-shadow: $hoverShadow;
            }

            &::after{
                content: "";
                position: absolute;
                top: 50%;
                background: $color-grey-scale3;
                width: 55px;
                height: 1.5px;
                right: 0;
                @include pad-md{
                    width: 40px;
                }

                @include pad-sm{
                    opacity:0;
                }
            }

        }

        & > a {
            @include pad-sm {
                border-left: none;
                
                padding: 10px 6px;
                &:not(:last-child){
                    border-bottom: 1.5px solid $color-grey-scale2;
                }
            }
            
        }

        label {
            @extend %navWord;

            @include pad-sm {
                border-left: none;
                padding: 10px 6px;
            }

            &:hover {
                text-shadow: $hoverShadow;
            }
        }
    }


}