@import "./_variable.scss";
%navWord{
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px 70px 20px 0;
    letter-spacing:1px;
    text-align: right;
    position: relative;
}

%font-title{
    
        font-size: $font-size-h1-40 ;
        font-weight: 400;
        letter-spacing: 12.48px;
        line-height: normal;
        color: $color-grey-scale;
}

%font-button{
    font-size: $font-size-h5-20 ;
        font-weight: 400;
        line-height: normal;
        color: $color-grey-scale;

}

%font-body{
    font-size: $font-size-body-16;
    font-weight: 400;
    margin: 5px;
    color: $color-grey-scale;
    line-height: 140%;
    letter-spacing: .5px;
}

%font-content{
    font-size: $font-size-subtitle;
    font-weight: 300;
    color: $color-white;
    line-height: 150%;
    letter-spacing: .5px;
    text-align:justify;
}

%font-adjustTitle{
    font-weight: 400;
    color: $color-white;
    opacity: 0;
    text-align: center;
    top: 15%;
    
}

%font-workname{
    font-size: $font-size-h1-40;
                    font-weight: 600;
                    letter-spacing: 5px;
}

%font-title-padsm{
    text-shadow: none ;
    text-align: center ;
    color: $color-grey-scale3;
    font-weight: 400; 
    font-size: $font-size-h3-32 ;
}