@import '../../../css/_variable';
@import '../../../css/_mixin';
@import '../../../css/_extend';

.menubar{
    width: 200px;
    right: 0;
    height: 100vh;
    display: flex;    
    position: fixed;
    z-index: 2;
    align-items: center;
    
    @include pad-sm {
        width:100%;
        height: 40px;       
        padding: 10px 0;
        top: 0;
        background-color: $color-white;
        box-shadow: $shadow-bar;
        
    }
    
    &__nav{
        display: flex;
        flex-direction: column;
       
        width: 100%;
        right: 0;
        @include pad-sm {
            flex-direction: row; 
            justify-content: center; 
                
            
        }

        &__research,&__prototype{
            @include pad-sm {
                display: none;
                       
            }
        }

        a{ 
            font-size:$font-size-body-16;
            text-decoration: none;
            line-height: 150%;
            letter-spacing: .5px;
            margin: 12px 0;
            max-width: 140px;
            text-align: end;
            position: relative;
            @include pad-sm{
                text-align: center;
                margin: 0 ;
                padding: 0 13px;
                &:not(:last-child){

                    border-right: 1px solid $color-grey-scale;
                }
                @include phone-md{
                    padding: 0 5px;
                    letter-spacing: 0px;
                    font-size: $font-size-body-sm;
                    &:not(:last-child){

                        border-right: none;
                    }
                }
            }
            &:hover {
                text-shadow: $hoverShadow;
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                background: $color-grey-scale3;
                width: 55px;
                height: 1.5px;
                right: -70px;
                @include pad-md{
                    width: 40px;
                }

                @include pad-sm{
                    opacity:0;
                }
            }   
        }
    }

    &__home{
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 0 40px 40px 0;
        text-decoration: none;
        color: $color-grey-scale;
        letter-spacing: .5px;
        
        &:hover {
            text-shadow: $hoverShadow;
        }
        p{
            font-size:$font-size-body-20;
            margin: 0;
            @include pad-sm{
                display: none;
            }
            
        }
        &__icon{
            position: absolute;
            display: none;
            width: 13px;
            
            @include pad-sm{
                display: block;
                margin: 7px;
            }
            @include phone-md{
                width: 10px;
                margin: 22px 22px;
            }
        }
        @include pad-sm{
            top: 0px;
            left: 0px;
            margin: 0;
            
            width: 60px;
            height: 60px;
        }

    }
}