@import '../../css/_variable';
@import '../../css/_mixin';
@import '../../css/_extend';

.experience{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    height: fit-content;
    
    

    &__title{
        margin: 0 auto;
        & h1{
            @extend %font-title;
            @include phone-md{
                letter-spacing: 9px;
            }
        }
    }
    &__select{
        margin-top: 30px;
        margin-right: 200px;
        display: flex;
        justify-content: center;
        position: relative;
        @include pad-sm{
            margin:30px auto 0;
        }
        
        
        
        & h5{
            margin: 20px 40px;
            @extend %font-button;
            @include pad-md{
                margin: 20px 30px;
                font-size: $font-size-h6-16
            }
            @include phone-md{
                margin: 20px 15px;
            }
            &:first-child::after{
                content: "";
                background-color: $color-grey-scale2;
                width: 2px;
                top: 33%;
                bottom: 33%;
                position: absolute;
                transform: translateX(38px);
                z-index: 1;
                @include phone-md{
                transform: translateX(10px);
                width: 1.5px;
            }
            
               
            }
    
        }

        & h5:hover {
            text-shadow: $hoverShadow;
        }
     }  
     &__timeline{       
        position: relative;
        width: 100%;
        display: flex;
        height: fit-content;


        &__section{
            display: flex;
                flex-direction: column;
                left: 30%;
                height: fit-content;
                margin-top: 40px;
                position: relative;
                @include pc-sm{
                    left: 25%;
                }
                @include pad-lg{
                    left: 20%;
                }
                @include pad-md{
                    left: 15%;
                }
                @include pad-sm{
                    left: 20%;;
                }
                @include phone-lg{
                    left: 10%;
                }
                @include phone-xs{
                    left: 5%;
                }

            &__container{
                
                position: relative;
                display: flex;
                flex-direction: column;
                &.hidden{
                    display: none;
                }
                
                &.last::before{
                    display: none;
                }
                
                &.show::before{

                    content: "";
                    width: 3px;
                    position: absolute;
                    top: 40px;
                    bottom:-40px;
                    transform: translate(-50px,0);
                    
                    background-color: $color-grey-scale5;
                    @include phone-lg{
                        transform:translate(-35px,0);
                    }
                    @include phone-xs{
                        display: none;
                    }
  
                }
                

                
                
    

                &__text,&__text__change{
                    margin-bottom: 35px;
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                    height: fit-content;
                    padding: 10px 20px;
                    border-radius: 7px;
                    max-width: 500px;
                    
                    
                    @include pad-md{
                        max-width: 430px; 
                    }
                    @include pad-sm{
                        background-color: $color-grey-scale9;
                    }

                    @include phone-lg{
                        max-width: 390px;
                    }

                    @include phone-md{
                        max-width: 350px;
                    }
                    @include phone-sm{
                        max-width: 320px;
                    }

                    
                    
                    &:hover {
                        box-shadow: $shadow-timeline;
                        transition: box-shadow 0.2s ease-in-out;
                    }
                    &.education{
                        @include pad-sm{
                            background-color: $color-white;
                        }
                    }

                    &.education:hover {
                        box-shadow:none;
                    }
                    .discription{
                        margin-top: 15px;
                        font-size:$font-size-subtitle ;
                        text-align:justify;
                    }
                    & img{
                        margin-top: 10px;
                    }
                    & p{
                        @extend %font-body;
                       
                    }    
                    &.hidden {
                        display: none;
                      }

                      

                      &::before{
                        content: "";
                        width: 17px;
                        height: 30px;
                        position: absolute;
                        transform: translate(-77px,15px);
                        z-index: 1;
                        box-shadow: $shadow-button;
                        border-radius: 2px;
                        @include phone-lg{
                            transform:translate(-60px,15px);
                            width: 12px;
                            
                        }
                        @include phone-xs{
                            display: none;
                        }
                      }
                      &.intern::before{
                        background-color:$color-mainGreen;
                      }
                      &.activity::before{
                        background-color:$color-grey-scale3;
                      }
                      &.education::before{
                        background-color:$color-grey-scale9;
                      }
                }
    
                &__text__change{                   
                    width: 500px;
                    background-color: $color-grey-scale9;
                }
            }
        }

        

     } 
}

